.wrapper {
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper:after {
    content:" ";
    display: block;
    clear: both;
}
img {
    float: left;
    margin: 10px;
}
.service:after {
    content: " ";
    display: block;
    clear: both;
}
.service {
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: auto;
}
.content {
    background: #ccc;
    margin-top: 50px;
    padding: 10px;
    clear: both;
}